<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satisfactoryplace.gichul.gichulgenerator">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.RandomQuestionActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.HistoryListActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.CheckListActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.RecheckQuestionActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.SearchResultActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.ArticleActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.ArticlePublishActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.CommentActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.ExamActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.ExamResultListActivity"></activity>
        <activity android:name="com.satisfactoryplace.gichul.gichulgenerator.RecheckExamResultActivity"></activity>
        <service
            android:name="com.satisfactoryplace.gichul.gichulgenerator.server.FirebaseMessageService" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>